<h1>Questions</h1>

<% @questions.each do |q|%>
  <h2> <%= q.title %> </h2>
  <time datetime="<%= q.formatted_created_at %>">
    <%= q.formatted_created_at %>
  </time>
  <p>
    <%= q.body %>
    <br>
    <%= link_to 'Edit', edit_question_path(q) %> |
    <%= button_to 'Show', question_path(q), method: :get %>
    <%= button_to 'Delete', question_path(q), method: :delete, data: {:confirm =>'Are you sure?'} %>
  </p>
<% end %>